page-register {


  .logo {
    margin: 0 auto;
    display: block;
    padding: 5px;

    border-radius: 50%;
    //background-color: #F8E6E6;

  }
  .scroll-content { padding-bottom: 0!important; }
}
