<br>
<ion-card>
  <ion-card-content>
    <ion-item no-lines   >
      <ion-label floating>Email  Address </ion-label>
      <ion-input  [(ngModel)]="account.email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password </ion-label>
      <ion-input floating [(ngModel)]="account.password" type="password"></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-row>
  <ion-col col-2>


  </ion-col>

  <ion-col col-5>
    <button ion-button outline color="secondary" (click)="registerPage()">Register!</button>

  </ion-col>
  <ion-col  col-5>
    <!-- <button ion-button color="primary" (click)="inboxPage('TabsPage')">Login</button> -->
    <button ion-button color="danger" (click)="login()">Login</button>


  </ion-col>
  <ion-col col-2>


  </ion-col>
</ion-row>
<hr>
