

<ion-card>
  <ion-card-content>
    <ion-item no-lines  >
      <ion-label floating>Email Address </ion-label>
      <ion-input  [(ngModel)]="account.email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password </ion-label>
      <ion-input floating [(ngModel)]="account.password" type="password"></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-row>

  <ion-col  text-center>
    <p style="font-size: 12px;"><i>(ie: You should have an internet connection</i></p>
    <button ion-button full color="danger" (click)="registerPage('RegisterPage')" (click)="loginRedirect()" >Register</button>

  </ion-col>


</ion-row>
